.footer {
    background-color: #08AEEA;
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}

.text {
    top: 1em;
}