.footer {
    background-color: #08AEEA;
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
    color: white;
    text-align: center;
    bottom: 0;
    height: 1.5em; 
    margin-top: 2em;
}
